.nut-fld-image{
	width:150px;
	height:150px;
	border:1px solid;
}
.nut-fld-resize{
	width:154px;
	resize:horizontal;
	overflow:auto
}
.nut-full{
	margin:0;
	width:100%;
	height:100%
}
.nut-close{
	cursor:pointer;
}
.nut-close:hover{
	color:red;
}
.nut-tile {
	width: 100px;
	height: 100px;
	margin: 6px;
	padding: 6px;
	text-align: center;
	vertical-align: middle;
	color: white;
	cursor: pointer;
	display: inline-table;
	font-family: helvetica;
	font-size: 10pt
}
.nut-tile:hover{
	border:2px inset;
}
.nut-tool {
	width: 40px;
	height: 40px;
	border-radius: 10px;
	margin: 2px;
	padding: 2px;
	text-align: center;
	vertical-align: middle;
	color: white;
	cursor: pointer;
	display: inline-table;
}

.nut-tool:hover {
	border: 1px inset;
}
.nut-dlg{
	position:absolute;
	padding-top:10vh;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:9999;
	background:rgb(255,255,255,0.5)
}
.nut-dlg-content{
	margin:auto;
	padding:1px;
	border:1px outset;
	background:whitesmoke;
	width:700px;
	height:500px
}
.nut-dlg-title{
	margin:auto;
	padding:1px;
	border:1px outset;
	background:#E5E4E2;
	width:700px;
	text-align:center
}
.nut-link{ 
	color:brown;
	cursor:pointer;
}
.nut-link:hover{
	text-decoration: underline;
}
.nut-table:before{ 
	content:url("table.png"); 
}
.nut-form:before{ 
	content:url("form.png"); 
}
.nut-find:before{ 
	content:url("find.png"); 
}
.nut-left:before{ 
	content:url("left.png"); 
}
.nut-right:before{ 
	content:url("right.png"); 
}
.nut-new:before{ 
	content:url("new.png"); 
}
.nut-save:before{ 
	content:url("save.png"); 
}
.nut-cross:before{ 
	content:url("cross.png"); 
}
.wf-bar{
	width:500px;
	height:20px;
	background:lime;
	cursor:pointer;
}
.wf-bar:hover{
	border:2px outset
}