.snappoint-png { background-image: url("snappoint.png"); height: 16px; width: 16px }
.snapvertex-png { background-image: url("snapvertex.png"); height: 16px; width: 16px }
.snapedge-png { background-image: url("snapedge.png"); height: 16px; width: 16px }